
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.movieApp {
  justify-content: space-evenly;
  text-align: center;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

.header{
  display:flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.rating-filter{
  display:flex;
  justify-content: center;
  align-items: center;
  width:300px;
}

.movieCard{
  text-align: center;  
}

.img{
  width: 100%;
  height: 460px;
}
.movieDesc{
height:150px;
}
.movieDesc p{
  font-size:20px;
 font-weight: bold;
 margin:0px;
 padding-top:10px;
  }

  .backcover{
    height:150px;
    background-color:white;
    z-index:1;
  }
.flip-card {
  background-color: transparent;
  width: 300px;
  position: relative;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  
  width: 300px;
  height: 485px;  
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back { 
  background: linear-gradient(#e66465, #9198e5);  /* background-color: black; */
  transform: rotateY(180deg);
  position: absolute;
  top:0
}
.back {
  padding: 60px;
  height:460px;

}
.back p {
 text-align:justify;
 color:#000;

}
.back h4 {
  color:#fff;
 
 }
.movieRating {
  /* position: absolute;
  top: 0;
  right: 0; */
  padding: 3px 7px;
  /* border: 2px solid #FFD700; */
  border-top: none;
  border-right: none;
}
.movieRating span{
  color:#FFD700;
  font-size:28px;
}

.searchInput{
  width:75%;
}
.moda{
  padding:  0 50px;
}
.cardBtn{
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
}
.btnEdit{
  padding: 5px 20px ;
  align-content: center;
  margin-right: 2px;
}
.btnDelite{
  padding: 5px 20px ;
  align-content: center;
  margin-left: 2px;
}
.btnEdit:hover{
  padding: 20px 20px ;

}
.btnDelite:hover{
  padding: 20px 20px ;


}

.formAdd span * {
  display: flex;
  flex-direction: column;
 align-items: space-between;
 margin-left: 50px;
 width: 90%;
 padding: 5px;
 flex-wrap: wrap;
}
.formAdd {
  color: blue;
  font-size: medium;
}